[package]
name = "quivrs"
version = "0.1.1"
edition = "2024"

[dependencies]
tracing = "0.1.44"
tracing-subscriber = { version = "0.3.22", features = ["fmt", "env-filter"] }
anyhow = "1.0.100"
tokio = { version = "1.48.0", features = ["fs", "rt-multi-thread"] }
axum = { version = "0.8.8", default-features = false, features = [
    "tokio",
    "tracing",
    "http1",
] }
reqwest = { version = "0.12.28", default-features = false, features = [
    "rustls-tls",
    "json",
    "brotli",
] }
chrono = { version = "0.4.42", default-features = false, features = ["clock"] }
dotenvy = "0.15.7"
futures = "0.3.31"
redb = "3.1.0"
regex-lite = "0.1.8"
html2text = "0.16.5"
itertools = "0.14.0"

# Serialization
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.147"
feed-rs = { git = "https://github.com/CodedNil/feed-rs" }
schemars = "1.2.0"
postcard = { version = "1.1.3", default-features = false, features = ["alloc"] }

[lints.rust]
unsafe_code = "forbid"

[lints.clippy]
pedantic = { level = "warn", priority = -1 }
nursery = { level = "warn", priority = -1 }
too-many-lines = "allow"
struct_excessive_bools = "allow"

[profile.release]
lto = true
codegen-units = 1
strip = true
opt-level = 3
panic = "abort"
