{
    "bbc_top": "https://feeds.bbci.co.uk/news/rss.xml",
    "bbc_tech": "https://feeds.bbci.co.uk/news/technology/rss.xml",
    "bbc_science": "https://feeds.bbci.co.uk/news/science_and_environment/rss.xml",
    "bbc_uk": "https://feeds.bbci.co.uk/news/uk/rss.xml",
    "verge": "https://www.theverge.com/rss/index.xml",
    "tomsguide": "https://www.tomsguide.com/rss",
    "skynews": "https://feeds.skynews.com/feeds/rss/home.xml",
    "election_maps": "https://bsky.app/profile/electionmaps.uk",
    "yougov": "https://yougov.com/en-gb/rss",
    "reddit_ukpolitics": "https://www.reddit.com/r/ukpolitics.json",
    "reddit_unitedkingdom": "https://www.reddit.com/r/unitedkingdom.json",
    "reddit_uknews": "https://www.reddit.com/r/uknews.json",
    "lobste.rs": "https://lobste.rs/rss",
    "hacker_news": "https://hnrss.org/frontpage",
    "artificial_analysis": "https://x.com/ArtificialAnlys",
}
