(
    rss: [
        (
            category: "informative",
            title: "The Verge",
            url: "https://www.theverge.com/rss/index.xml",
        ),
        (
            category: "informative",
            title: "Veritasium",
            url: "https://www.youtube.com/feeds/videos.xml?channel_id=UCHnyfMqiRRG1u-2MsSQLbXA",
        ),
    ],
)