[
    // General
    "https://www.nytimes.com/wirecutter/feed/",

    // News
    "https://feeds.bbci.co.uk/news/rss.xml",
    "https://www.tomsguide.com/rss",
    "https://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml",
    "https://www.pbs.org/newshour/feeds/rss/headlines",
    "https://www.wired.com/feed/rss",
    "https://www.npr.org/rss/rss.php?id=1001",
    "https://theconversation.com/articles.atom",

    // Tech
    "https://feeds.bbci.co.uk/news/technology/rss.xml",
    "https://www.theverge.com/rss/index.xml",
    "https://futurism.com/feed",
    "https://gizmodo.com/rss",
    "https://arstechnica.com/feed",

    // Open Source
    "https://blogs.kde.org/categories/this-week-in-kde-apps/index.xml",
    "https://blogs.kde.org/categories/this-week-in-plasma/index.xml",
    "https://thisweek.gnome.org/index.xml",
    "https://9to5linux.com/feed",
    "https://system76.com/blog/rss.xml",
    "https://blog.linuxmint.com/?feed=rss2",
    "https://servo.org/blog/feed.xml",
    "https://brave.com/blog/index.xml",
    "https://thisweekinbevy.com/feed.xml",
    "https://blog.rust-lang.org/feed.xml",
    "https://this-week-in-rust.org/atom.xml",
    "https://proton.me/blog/feed",
    "https://zed.dev/blog.rss",
    "https://blog.nightly.mozilla.org/feed/",
    "https://itsfoss.com/rss/",
    "https://pointieststick.com/feed/",
    "https://www.redox-os.org/index.xml",
    "https://thisweek.gnome.org/index.xml",
    "https://omgubuntu.co.uk/feed",

    // Learning
    "https://feeds.bbci.co.uk/news/science_and_environment/rss.xml",
    "https://feeds.bbci.co.uk/news/science_and_environment/rss.xml",
    "https://www.sciencedaily.com/rss/all.xml",
    "https://www.pbs.org/newshour/feeds/rss/science",
    "https://www.nasa.gov/news-release/feed/",
    "https://www.nature.com/nature.rss",

    // AI
    "https://x.com/ArtificialAnlys",
    "https://papers.takara.ai/api/feed",
    "https://deepmind.google/blog/rss.xml",

    // Culture
    "https://www.cosmopolitan.com/rss/all.xml",
    "https://www.etonline.com/news/rss",
    "https://deadline.com/feed/",
    "https://variety.com/feed/",
    "https://www.thewrap.com/feed/",
    "https://www.tmz.com/rss.xml",

    // Gaming
    "https://sbox.facepunch.com/rss/news",
    "https://store.steampowered.com/feeds/news/collection/steam",

    // UK
    "https://feeds.bbci.co.uk/news/uk/rss.xml",
    "https://feeds.skynews.com/feeds/rss/home.xml",
    "https://bsky.app/profile/electionmaps.uk",
    "https://yougov.com/en-gb/rss",
    "https://www.bankofengland.co.uk/rss/speeches",
    "https://www.independent.co.uk/news/uk/rss",
    "https://www.theguardian.com/uk/rss",
    "https://ukdefencejournal.org.uk/feed/",
    "https://inews.co.uk/feed",
    "https://politico.eu/section/united-kingdom/feed/",

    // USA
    "https://rss.politico.com/politics-news.xml",
    "https://www.salon.com/feed",

    // EU
    "https://france24.com/en/rss",
    "https://www.euronews.com/rss?level=theme&name=news",
    "https://commission.europa.eu/node/29665/rss_en",
    "https://www.politico.eu/feed/",
]
